.about-company {
  position: relative;
  padding-top: 38px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    margin-bottom: 83px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    margin-bottom: 87px;

    &::before {
      display: none;
    }
  }
}

.about-company__wrapper {
  max-width: 260px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1050px;
    padding: 0 50px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50px;
      right: 50px;
      width: 1050px;
      height: 100%;
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: 100%;
    }
  }
}

.about-company__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $dark-color-text;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
    margin-left: 175px;
  }
}

.about-company__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
    margin-right: 175px;
  }
}

.about-company__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 123px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $dark-color-text;

  &--item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--item-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  @media (min-width: $tablet-width) {
    min-height: 126px;
  }
}

.about-company__img {
  position: absolute;

  &--1 {
    top: 29px;
    left: 9px;
  }

  &--2 {
    top: 29px;
  }

  &--3 {
    top: 34px;
    left: 7px;
  }

  &--4 {
    top: 31px;
    left: 4px;
  }

  &--5 {
    top: 33px;
    left: -5px;
  }

  &--6 {
    top: 31px;
    left: 3px;
  }
}

.about-company__text {
  display: inline-block;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
