.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid #444444;
  box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
}
