.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:hover .card__title,
  &:focus .card__title {
    opacity: 0.6;
  }

  &:active .card__title {
    opacity: 0.3;
  }

  &:hover .card__icon,
  &:focus .card__icon {
    opacity: 1;
    fill: $decoration-color;
  }

  &:active .card__icon {
    opacity: 0.3;
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: max-content;
  }
}

.card__image {
  width: 260px;
  height: 195px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  padding: 26px 28px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 334px;
    padding-left: 33px;
    padding-right: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    padding-left: 27px;
    padding-right: 34px;
  }
}

.card__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $dark-color-text;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__specifications {
  display: block;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.card__price {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: $dark-color-text;
  border-top: 1px solid #ececec;
  padding: 0;
  padding-top: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.card__icon {
  position: absolute;
  bottom: 32px;
  right: 27px;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 32px;
  }
}
