.catalog__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
    margin-top: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 0 50px;
    margin-top: 109px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  row-gap: 29px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    row-gap: 54px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 51px;
  }
}
