.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.copy__text {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $dark-color-text;
  padding: 0;
  margin: 0;
  margin-right: 29px;
}

.copy__link {
  display: inline-block;
  margin-top: 8px;
}
