.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
  }
}

.copy__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $dark-color-text;
  padding: 0;
  margin: 0;
  margin-right: 29px;
}

.copy__link {
  display: inline-block;
  margin-top: 7px;
}
