.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 24px;
  padding-bottom: 22px;
  text-decoration: none;

  &:hover .copy__img,
  &:focus .copy__img {
    fill: #46c1ae;
  }

  &:active .copy__img {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.copy__text {
  display: block;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $dark-color-text;
  padding: 0;
  margin: 0;
  margin-right: 29px;
}

.copy__img {
  fill: #63d1bb;
}
