.form__group {
  &--decoration {
    @media (min-width: $tablet-width) {
      background-color: $bg-color;
    }
  }
}

.form__group-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 25% 75%;
    width: 668px;
    padding: 0 50px;
    padding-top: 66px;
    padding-bottom: 69px;

    &--name {
      padding-top: 62px;
      padding-bottom: 51px;
    }

    &--tel {
      padding-top: 60px;
      padding-bottom: 35px;
    }

    &--mail {
      padding-top: 0;
      padding-bottom: 50px;
    }

    &--textarea {
      padding-bottom: 51px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 17% 83%;
    width: 1050px;
    padding: 0 50px;
    padding-top: 65px;
    padding-bottom: 69px;

    &--name {
      padding-top: 66px;
      padding-bottom: 52px;
    }

    &--tel {
      padding-top: 60px;
      padding-bottom: 39px;
    }

    &--mail {
      padding-top: 0;
      padding-bottom: 50px;
    }

    &--textarea {
      padding-top: 70px;
      padding-bottom: 46px;
    }
  }

  &--submit-button {
    display: flex;
    flex-direction: column;
    margin-bottom: 53px;

    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      padding-left: 175px;
      padding-right: 175px;
    }
  }
}

.form__group-title {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $decoration-color;

  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    left: 60px;
    top: 9px;
    background-color: $decoration-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--radio-title {
    margin-bottom: 44px;
  }

  &--checkbox-title {
    margin-bottom: 35px;
  }

  &--name-title {
    margin-bottom: 28px;
    margin-top: 4px;
  }

  &--tel-title {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  &--mail-title {
    margin-bottom: 6px;
    margin-top: 4px;

    &::after {
      width: 182px;
      top: 7px;
      left: auto;
      right: 0;
    }
  }

  &--textarea-title {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }
}

.form__list {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: $dark-color-text;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -3px;
    margin-top: -2px;
  }

  &--radio-list {
    row-gap: 24px;
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      row-gap: 58px;
      margin-bottom: -3px;
    }
  }

  &--checkbox-list {
    row-gap: 40.5px;
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 50% 50%;
      row-gap: 54px;
      column-gap: 11px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: min-content min-content min-content;
      column-gap: 97px;
      row-gap: 57px;
    }
  }

  &--name-list {
    row-gap: 22px;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      row-gap: 39px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      row-gap: 38px;
    }
  }

  &--tel-list {
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--mail-list {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--textarea-list {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.form__item--name {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: min-content 1fr;
    column-gap: 25px;
  }
}

.form__item--tel,
.form__item--mail {
  @media (min-width: $desktop-width) {
    margin-right: 175px;
  }
}

.form__hint {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $base-color-text;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding-top: 10px;
  }
}

.form__button {
  font-size: 17px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
