.input__input-text {
  border: none;
  outline: none;
  box-shadow: inset 0 -2px 0 $black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $black;
    opacity: 0.3;
  }
}

.input__input-tel {
  border: none;
  outline: none;
  box-shadow: inset 0 -2px 0 $black;

  &::placeholder {
    font-size: 19px;
    line-height: 18px;
    color: $black;
    opacity: 0.3;
  }
}

.input__input-mail {
  border: none;
  outline: none;
  box-shadow: inset 0 -2px 0 $black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $black;
    opacity: 0.3;
  }
}

.input__textarea {
  border: 2px solid $extra-dark-gray;
  box-sizing: border-box;
  width: 260px;
  height: 100px;
  resize: none;

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: $black;
    opacity: 0.3;
  }
}
