.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 30px;
  border: none;
  outline-color: $decoration-color;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
  transition: 0.3s;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 35px;
  height: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    top: 13px;
    left: 4px;
    background-color: #231f20;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.main-nav__logo {
  min-height: 79px;
  padding-top: 22px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.main-nav__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: $base-color-text;
  order: 3;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}
