.main-nav {
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--closed .user-list__item {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 26px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: none;
  outline-color: $decoration-color;
  padding: 5px;
  box-sizing: content-box;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle-line {
  position: relative;
  width: 22px;
  height: 2px;
  background-color: #000000;
  transition: background 0.3s 0.4s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 2px;
    background-color: #000000;
    transition: top 0.3s 0.2s, transform 0.3s;
  }

  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
  }
}

.main-nav--opened .main-nav__toggle-line {
  position: relative;
  width: 21px;
  height: 2px;
  background: 0 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -3px;
    width: 27px;
    height: 2px;
    background-color: #000000;
    transition: top 0.3s, transform 0.3s 0.2s;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    z-index: 1;
    max-height: 89px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0 50px;
  }
}

.main-nav__logo {
  min-height: 79px;
  padding-top: 22px;
  margin: 0 auto;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    order: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    padding-top: 9px;
    margin-right: 65px;
  }
}

.main-nav__delivery {
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: $base-color-text;
  order: 3;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
  }
}
