.page-footer {
  background-color: $bg-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 260px;
  padding: 0 30px;
  padding-top: 15px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    max-width: 668px;
    padding: 0 50px;
    padding-top: 41px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-top: 7px;
  }
}

.page-footer__copy {
  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
  }
}
