.page-body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: $extra-dark-gray;
  max-width: 320px;
  box-sizing: border-box;
}
