.product-order__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 0 50px;
  }
}

.product-order__text {
  font-size: 13px;
  line-height: 24px;
}
