.production {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.production__wrapper {
  position: relative;
  max-width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0 50px;
  }
}

.production__container {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 682px 368px;
  }
}

.production__title {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $dark-color-text;
  padding: 0;
  padding-left: 91px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-left: 106px;
    margin-top: 41px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-top: 96px;
    margin-right: 79px;
    margin-left: 79px;
    margin-bottom: 17px;
  }
}

.production__title::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 34px;
  width: 32px;
  height: 27px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -9px;
    left: 41px;
  }

  @media (min-width: $desktop-width) {
    top: -53px;
    left: 0;
  }
}

.production__video {
  margin-bottom: 35px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: -1px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  padding: 0;
  padding-left: 32px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    padding-left: 39px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-left: 79px;
  }
}

.production__button {
  margin-left: 34px;
  width: 192px;
  font-size: 17px;
  line-height: 16px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-left: 41px;
    width: 584px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    margin-left: 79px;
  }
}
