.product-week {
  font-size: 15px;
  line-height: 24px;
}

.product-week__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.product-week__subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63D1BB;
}

.product-week__price {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
} 
