.promo {
  position: relative;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18%;
  border-top: 1px solid #ececec;
  margin-bottom: 33px;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 488px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.promo__title {
  max-width: 260px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $dark-color-text;
  margin: auto;
  margin-top: 70px;
  padding: 0;
}

.promo__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.promo__list::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    height: 34px;
  }
}

.promo__item {
  width: 100%;
  height: 103px;

  &--item-1 {
    background-color: $decoration-color;
  }

  &--item-2 {
    background-color: #56c3b2;
  }
}

.promo__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 24px;
  box-sizing: border-box;
}
