.promo {
  position: relative;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18%;
  border-top: 1px solid #ececec;
  margin-bottom: 33px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    margin-bottom: 52px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 488px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    padding: 0 50px;
    margin: 0 auto;
    min-height: 745px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.promo__title {
  max-width: 260px;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $dark-color-text;
  margin: auto;
  margin-top: 70px;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    font-size: 43px;
    line-height: 50px;
    margin-top: 154px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-top: 154px;
  }
}

.promo__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.promo__list::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 34px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 768px 34px;
  }

  @media (min-width: $desktop-width) {
    background-size: 1150px 34px;
  }
}

.promo__item {
  width: 100%;
}

.promo__link {
  display: flex;
  width: 100%;
  min-height: 103px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 30px;
  padding-top: 24px;
  box-sizing: border-box;
  transition: 0.2s;

  &--1 {
    background-color: $decoration-color;

    &:hover,
    &:focus {
      background-color: #59d5bc;
    }
  }

  &--2 {
    background-color: #56c3b2;

    &:hover,
    &:focus {
      background-color: #46c1ae;
    }
  }

  &:hover .promo__icon,
  &:focus .promo__icon {
    opacity: 0.7;
  }

  &:active .promo__icon {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    min-height: 119px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

.promo__icon {
  margin-left: auto;
  opacity: 0.5;

  &--1 {
    margin-right: 36px;

    @media (min-width: $tablet-width) {
      margin-top: 6px;
    }
  }

  &--2 {
    margin-right: 27px;

    @media (min-width: $tablet-width) {
      margin-right: 33px;
      margin-top: 6px;
    }
  }
}
