.promo {
  min-height: 375px;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.promo__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $black;
}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  &--link-1 {
    background-color: $green;
  }

  &--link-2 {
    background-color: #56c3b2;
  }
}
