.reviews {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    min-height: 457px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    background: none;
    margin-bottom: 70px;
  }
}

.reviews__wrapper {
  position: relative;
  max-width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    padding: 0 50px;
    padding-top: 82px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
    background-position: top left;
    min-height: 457px;
    padding-top: 78px;
    padding-left: 225px;
    box-sizing: border-box;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  color: $dark-color-text;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 37px;
  }
}

.reviews__group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 31px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $dark-color-text;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__author-nickname {
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 30px;
}

.reviews__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}

.reviews__nav-button {
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 87px;
    border: none;
    margin-top: 4px;
  }
}

.reviews__nav-button--previous {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__nav-button--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 78px;
    right: 50px;
    width: 175px;
    font-size: 17px;
    line-height: 20px;
    padding-top: 5px;
    padding-left: 8px;
  }
}
