.reviews {
  @media (min-width: $tablet-width) {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.reviews__wrapper {
  position: relative;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 0 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $dark-color-text;
}

.reviews__group-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $dark-color-text;
}

.reviews__author-nickname {
  font-size: 17px;
  line-height: 30px;
}

.reviews__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews__nav-button {
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  box-sizing: border-box;
  background-color: transparent;
}

.reviews__nav-button--previous {
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__nav-button--next {
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.reviews__button {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 20px;
  }
}
