.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin-left: 0;
    margin-right: auto;
  }
}

.site-list__item {
  height: 79px;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  cursor: pointer;

  &:hover .site-list__link,
  &:focus .site-list__link {
    opacity: 0.6;
  }

  &:active .site-list__link {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-right: 10px;
  }
}

.site-list__link {
  display: inline-block;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 17px;
  line-height: 24px;
  color: $dark-color-text;
  text-decoration: none;
  padding-top: 28.5px;
  padding-left: 24%;
  box-sizing: border-box;
}
