.social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__item {
  margin-top: 10px;
  margin-left: 21px;
  margin-right: 22px;
}
