.stock-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 3;
  }
}

.stock-list__item {
  margin-top: 16px;
  margin-right: 63px;
}

.stock-list__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: $dark-color-text;
  text-decoration: none;
}
