.table__data-1 {
  width: 76px;
}

.table__data-2 {
  width: 185px;
}

.table__link {
  color: $base-color-text;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid $decoration-color;
}
