.user-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    order: 1;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.user-list__item {
  padding-left: 46px;
}

.user-list__link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $dark-color-text;
  text-decoration: none;
}
