.video {
  position: relative;
}

.video__button {
  position: absolute;
  top: 37px;
  left: 73px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
